
*.py
*.html
*.sqlite3
*.md
CODER/proyecto-coder-main/clase_19/.DS_Store
CODER/proyecto-coder-main/clase_19/AppCoder/.DS_Store
CODER/proyecto-coder-main/clase_19/AppCoder/static/.DS_Store
CODER/proyecto-coder-main/clase_19/AppCoder/static/AppCoder/assets/favicon.ico
CODER/proyecto-coder-main/clase_19/AppCoder/static/AppCoder/assets/img/bg-masthead.jpg
CODER/proyecto-coder-main/clase_19/AppCoder/static/AppCoder/assets/img/bg-showcase-1.jpg
CODER/proyecto-coder-main/clase_19/AppCoder/static/AppCoder/assets/img/bg-showcase-2.jpg
CODER/proyecto-coder-main/clase_19/AppCoder/static/AppCoder/assets/img/bg-showcase-3.jpg
CODER/proyecto-coder-main/clase_19/AppCoder/static/AppCoder/assets/img/testimonials-1.jpg
CODER/proyecto-coder-main/clase_19/AppCoder/static/AppCoder/assets/img/testimonials-2.jpg
CODER/proyecto-coder-main/clase_19/AppCoder/static/AppCoder/assets/img/testimonials-3.jpg
CODER/proyecto-coder-main/clase_19/AppCoder/static/AppCoder/css/styles.css
CODER/proyecto-coder-main/clase_19/AppCoder/static/AppCoder/js/scripts.js
CODER/proyecto-coder-main/clase_20/.DS_Store
CODER/proyecto-coder-main/clase_20/AppCoder/.DS_Store
CODER/proyecto-coder-main/clase_20/AppCoder/static/.DS_Store
CODER/proyecto-coder-main/clase_20/AppCoder/static/AppCoder/assets/favicon.ico
CODER/proyecto-coder-main/clase_20/AppCoder/static/AppCoder/assets/img/bg-masthead.jpg
CODER/proyecto-coder-main/clase_20/AppCoder/static/AppCoder/assets/img/bg-showcase-1.jpg
CODER/proyecto-coder-main/clase_20/AppCoder/static/AppCoder/assets/img/bg-showcase-2.jpg
CODER/proyecto-coder-main/clase_20/AppCoder/static/AppCoder/assets/img/bg-showcase-3.jpg
CODER/proyecto-coder-main/clase_20/AppCoder/static/AppCoder/assets/img/testimonials-1.jpg
CODER/proyecto-coder-main/clase_20/AppCoder/static/AppCoder/assets/img/testimonials-2.jpg
CODER/proyecto-coder-main/clase_20/AppCoder/static/AppCoder/assets/img/testimonials-3.jpg
CODER/proyecto-coder-main/clase_20/AppCoder/static/AppCoder/css/styles.css
CODER/proyecto-coder-main/clase_20/AppCoder/static/AppCoder/js/scripts.js
CODER/proyecto-coder-main/clase_21/.DS_Store
CODER/proyecto-coder-main/clase_21/AppCoder/static/AppCoder/assets/img/bg-masthead.jpg
CODER/proyecto-coder-main/clase_21/AppCoder/static/AppCoder/assets/img/bg-showcase-1.jpg
CODER/proyecto-coder-main/clase_21/AppCoder/static/AppCoder/assets/img/bg-showcase-2.jpg
CODER/proyecto-coder-main/clase_21/AppCoder/static/AppCoder/assets/img/bg-showcase-3.jpg
CODER/proyecto-coder-main/clase_21/AppCoder/static/AppCoder/assets/img/testimonials-1.jpg
CODER/proyecto-coder-main/clase_21/AppCoder/static/AppCoder/assets/img/testimonials-2.jpg
CODER/proyecto-coder-main/clase_21/AppCoder/static/AppCoder/assets/img/testimonials-3.jpg
CODER/proyecto-coder-main/clase_21/AppCoder/static/AppCoder/css/styles.css
CODER/proyecto-coder-main/clase_21/AppCoder/static/AppCoder/js/scripts.js
CODER/proyecto-coder-main/clase_22/AppCoder/static/.DS_Store
CODER/proyecto-coder-main/clase_22/AppCoder/static/AppCoder/assets/favicon.ico
CODER/proyecto-coder-main/clase_22/AppCoder/static/AppCoder/assets/img/bg-masthead.jpg
CODER/proyecto-coder-main/clase_22/AppCoder/static/AppCoder/assets/img/bg-showcase-1.jpg
CODER/proyecto-coder-main/clase_22/AppCoder/static/AppCoder/assets/img/bg-showcase-2.jpg
CODER/proyecto-coder-main/clase_22/AppCoder/static/AppCoder/assets/img/bg-showcase-3.jpg
CODER/proyecto-coder-main/clase_22/AppCoder/static/AppCoder/assets/img/testimonials-1.jpg
CODER/proyecto-coder-main/clase_22/AppCoder/static/AppCoder/assets/img/testimonials-2.jpg
CODER/proyecto-coder-main/clase_22/AppCoder/static/AppCoder/assets/img/testimonials-3.jpg
CODER/proyecto-coder-main/clase_22/AppCoder/static/AppCoder/css/styles.css
CODER/proyecto-coder-main/clase_22/AppCoder/static/AppCoder/js/scripts.js
CODER/proyecto-coder-main/clase_23/AppCoder/static/.DS_Store
CODER/proyecto-coder-main/clase_23/AppCoder/static/AppCoder/assets/favicon.ico
CODER/proyecto-coder-main/clase_23/AppCoder/static/AppCoder/assets/img/bg-masthead.jpg
CODER/proyecto-coder-main/clase_23/AppCoder/static/AppCoder/assets/img/bg-showcase-1.jpg
CODER/proyecto-coder-main/clase_23/AppCoder/static/AppCoder/assets/img/bg-showcase-2.jpg
CODER/proyecto-coder-main/clase_23/AppCoder/static/AppCoder/assets/img/bg-showcase-3.jpg
CODER/proyecto-coder-main/clase_23/AppCoder/static/AppCoder/assets/img/testimonials-1.jpg
CODER/proyecto-coder-main/clase_23/AppCoder/static/AppCoder/assets/img/testimonials-2.jpg
CODER/proyecto-coder-main/clase_23/AppCoder/static/AppCoder/assets/img/testimonials-3.jpg
CODER/proyecto-coder-main/clase_23/AppCoder/static/AppCoder/css/styles.css
CODER/proyecto-coder-main/clase_23/AppCoder/static/AppCoder/js/scripts.js
CODER/proyecto-coder-main/clase_24/AppCoder/static/.DS_Store
CODER/proyecto-coder-main/clase_24/AppCoder/static/AppCoder/assets/favicon.ico
CODER/proyecto-coder-main/clase_24/AppCoder/static/AppCoder/assets/img/bg-masthead.jpg
CODER/proyecto-coder-main/clase_24/AppCoder/static/AppCoder/assets/img/bg-showcase-1.jpg
CODER/proyecto-coder-main/clase_24/AppCoder/static/AppCoder/assets/img/bg-showcase-2.jpg
CODER/proyecto-coder-main/clase_24/AppCoder/static/AppCoder/assets/img/bg-showcase-3.jpg
CODER/proyecto-coder-main/clase_24/AppCoder/static/AppCoder/assets/img/testimonials-1.jpg
CODER/proyecto-coder-main/clase_24/AppCoder/static/AppCoder/assets/img/testimonials-2.jpg
CODER/proyecto-coder-main/clase_24/AppCoder/static/AppCoder/assets/img/testimonials-3.jpg
CODER/proyecto-coder-main/clase_24/AppCoder/static/AppCoder/css/styles.css
CODER/proyecto-coder-main/clase_24/AppCoder/static/AppCoder/js/scripts.js
Llorens/ProyectoFinal/Blog/migrations/__pycache__/0001_initial.cpython-310.pyc
Llorens/ProyectoFinal/Blog/migrations/__pycache__/0002_rename_secton_section_alter_articulo_options_and_more.cpython-310.pyc
Llorens/ProyectoFinal/Blog/migrations/__pycache__/__init__.cpython-310.pyc
CODER/proyecto-coder-main/clase_21/AppCoder/.DS_Store
CODER/proyecto-coder-main/clase_21/AppCoder/static/.DS_Store
CODER/proyecto-coder-main/clase_21/AppCoder/static/AppCoder/assets/favicon.ico
