<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secciones</title>
</head>
<body style="background-color: rgb(162, 144, 230);">
    <form action="/blog/formulario_seccion/" method="POST"> {% csrf_token %}
        <p> Nombre: <input type="text" name="nombre"></p>
        <input type= "submit" value= "Guardar" >
    </form>


</body>
</html>
