<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicacion: Blog</title>
</
<header>
    <nav style="margin-left: 1%; margin-top: 1%;">  

    <a style="margin-left: 1%;" href="../inicio">Inicio</a>
    <a style="margin-left: 1%;" href="../autor">Autor</a>
    <a style="margin-left: 1%;" href="../articulo">Articulo</a>
    <a style="margin-left: 1%;" href="../seccion">Seccion</a>
    <a style="margin-left: 1%;" href="../busqueda">Busqueda</a>
    <a style="margin-left: 1%;" href="../formulario_autor">Crear Autor</a>
    <a style="margin-left: 1%;" href="../formulario_articulo">Crear Articulo</a>
    <a style="margin-left: 1%;" href="../formulario_seccion">Crear Seccion</a>
       
    </nav>
</header>
<body style="background-color: blanchedalmond; margin-left: 1%;">

<h3>Aplicacion: Blog </h3>


<ul>
    <li>Tema:templates </li>
    <li>Curso: python</li>
    <li>Integrantes: María Llorens, María Ciordia y Martín Furon </li>

</ul>



{% block Insertar_contenido %}
{% endblock %}



</body>
</html>